html {
  background-color: #FF3333;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #3333FF;
  padding: 0 20px 20px 20px;
  border: 4mm ridge #FFFFFF;
}


nav {
  border-bottom: 1px solid black;
}

.eras ol {
  list-style-type: none;
  padding-left: 0;
}

.era {
  display: inline-block;
}

.era {
  display: inline-block;
  color: #000;
  font-size: 150%;
  font-weight: bold;
  padding: 0 4px;
}

h1 {
  margin: 0;
  padding: 30px 0;
  color: #CC0000;
  text-shadow: 1px 1px 1px grey;
}

img {
  display: block;
  margin: 0 auto;
}
