html {
  background-image: url("epicimages/oasisno1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  width: 600px;
  margin: 0 auto;
  background-image: url("epicimages/scrollbackground.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-clip: border-box;
}

h1 {
  margin: 0;
  padding: 30px 0;
  color: rgb(255 229 204);;
  text-shadow: 1px 1px 1px grey;
}

h2{
  color: rgb(255 229 204);
}

p {
  font-size: 18px;
  display: block;
  margin: 0 auto;
}
