
html {
  background-image: url("epicimages/epicstartimage.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 0 20px 20px 20px;
}


nav {
  border-bottom: 1px solid black;
}

h1 {
  margin: 0;
  padding: 30px 0;
  color: blue;
  text-shadow: 1px 1px 1px grey;
}


p {
  font-size: 18px;
  display: block;
  margin: 0 auto;
}
